@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat&family=Poppins&family=Roboto&family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro:wght@600&display=swap');
.body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background: #6B6B6B;
}
.body img{
    position: absolute;
    top: 25px;
    left: 134px;
    cursor: pointer;
}
.body .section{
    position: absolute;
    top: 25px;
    left: 1001px;
}
.section a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;  
    margin-left: 30px;   
    cursor: pointer; 
}
.section a:hover{
    width: 70px;
    height: 50px;
    font-size: 20px;
    color: rgb(241, 145, 145);
    font-weight: 600;
    font-family: sans-serif;
}
.section a:active{
    color: rgb(235, 183, 193);
}




.body2{
    position: absolute;
    height: 500px;
    left: 0;
    right: 0;
    top: 70px;
    background: #EBEBEB;
}
.body2 h1{
    position: absolute;
    top: 165px;
    left: 134px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 39px;
    line-height: 45px;
    color: #333333;    
}
.body2 p{
    position: absolute;
    top: 221px;
    left: 134px;
    width: 576px;
    height: 52px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #333333;
}
.body2 button{
    position: absolute;
    left: 134px;
    top: 313px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 15px 25px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.body2 img{
    position: absolute;
    top: 47px;
    left: 879px;
    cursor: pointer;
}
.body2 main p{
    position: absolute;
    width: 320px;
    height: 42px;
    left: 888px;
    top: 384px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);   
}







.body3{
    position: absolute;
    height: 152px;
    left: 0%;
    right: 0%;
    width: 100%;
    top: 570px;
    background: #D3D3D3;   
}
.body3 a img{
    position: absolute;
    top: 52px;
    left: 144px;
    cursor: pointer;
}
.body3 header img{
    position: absolute;
    top: 53px;
    left: 252px;
    cursor: pointer;
}
.body3 section img{
    position: absolute;
    top: 52px;
    left: 411px;
    cursor: pointer;
}
.body3 nav img{
    position: absolute;
    top: 52px;
    left: 512px;
    cursor: pointer;
}
.body3 div img{
    position: absolute;
    top: 52px;
    left: 695px;
    cursor: pointer;
}
.body3 aside img{
    position: absolute;
    top: 54px;
    left: 894px;
    cursor: pointer;
}
.body3 p img{
    position: absolute;
    top: 50px;
    left: 1050px;
    cursor: pointer;
}
.body3 footer img{
    position: absolute;
    top: 51px;
    left: 1163px;
    cursor: pointer;
}







.body4{
    position: absolute;
    top: 722px;
    left: 0;
    width: 100%;
    height: 660px;
}
.section5 h1{
    position: absolute;
    left: 144px;
    top: 119px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;    
}
.section5 p{
    position: absolute;
    height: 96px;
    width: 509px;
    left: 144px;
    top: 169px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;    
}
.section2 img{
    position: absolute;
    top: 50px;
    left: 878px;
    cursor: pointer;
}
.body4 .section2 p{
    position: absolute;
    left: 955px;
    top: 350px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #777777;   
}
.section3 h1{
    position: absolute;
    left: 730px;
    top: 430px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
}
.section3 p{
    position: absolute;
    left: 730px;
    top: 480px;
    width: 520px;
    height: 72px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;   
}
.section4 img{
    position: absolute;
    top: 377px;
    left: 302px;
    cursor: pointer;
}
.section4 p{
    position: absolute;
    left: 320px;
    top: 573px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #777777;    
}
.section3 p span{
    background-color: rgb(57, 57, 250);
    font-family: 'Arial';
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    color: #FFFFFF;    
    padding: 6px 13px 6px 6px;
    border-radius: 5px;
    cursor: pointer;
}










.body5{
    position: absolute;
    top: 1382px;
    height: 806px;
    width: 100%;
    left: 0%;
    right: 0%;
    background: #EBEBEB;
}
.section6 {
    text-align: center;
}
.section6 h1{
    position: absolute;
    left: 641px;
    top: 89px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    color: #333333;  
}
.section6 p{
    position: absolute;
    left: 459px;
    top: 146px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;   
}
.section7 {
    position: absolute;
    margin: 200px 0 0 40%;
}
.section7 img{
    position: absolute;
    top: 0;
    cursor: pointer;
}
.section7 p{
    position: absolute;
    width: 314px;
    top: 125px;
    left: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #777777;  
}
.section8{
    position: absolute;
    height: 316px;
    width: 364px;
    left: 134px;
    top: 410px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;    
}
.section8 h1{
    font-family: 'Roboto';
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #333333;   
}
.section8 img{
    position: absolute;
    left: 132px;
    top: 85px;
    cursor: pointer;
}
.section8 p{
    position: absolute;
    width: 226px;
    height: 60px;
    left: calc(50% - 226px/2);
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #333333;   
}
.section8 p span{
    background-color: rgb(57, 57, 250);
    border-radius: 2px;
    color: white;
    padding: 3px 1px;
    cursor: pointer;
}



.section9{
    position: absolute;
    height: 316px;
    width: 364px;
    left: 528px;
    top: 410px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;    
}
.section9 h1{
    font-family: 'Roboto';
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #333333;   
}
.section9 img{
    position: absolute;
    left: 132px;
    top: 85px;
    cursor: pointer;
}
.section9 p{
    position: absolute;
    width: 262px;
    height: 60px;
    left: calc(50% - 226px/2);
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #333333;   
}
.section9 p span{
    background-color: rgb(57, 57, 250);
    border-radius: 2px;
    color: white;
    padding: 3px 1px;
    cursor: pointer;
}







.section10{
    position: absolute;
    height: 316px;
    width: 364px;
    left: 902px;
    top: 410px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;    
}
.section10 h1{
    font-family: 'Roboto';
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #333333;   
}
.section10 img{
    position: absolute;
    left: 132px;
    top: 85px;
    cursor: pointer;
}
.section10 p{
    position: absolute;
    width: 284px;
    height: 60px;
    left: calc(50% - 226px/2);
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #333333;   
}
.section10 p span{
    background-color: rgb(57, 57, 250);
    border-radius: 2px;
    color: white;
    padding: 3px 1px;
    cursor: pointer;
}









.body6{
    position: absolute;
    width: 100%;
    left: 0;
    top: 2188px;
    height: 589px;
}
.body6 h1{
    position: absolute;
    left: 134px;
    top: 99px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #333333;
}
.section11{
    position: absolute;
    width: 268px;
    left: 134px;
    top: 176px;
}
.section11 img{
    margin-left: -50px;
}
.section11 h3{
    position: absolute;
    top: 210px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;    
}
.section11 p{
    position: absolute;
    top: 250.75px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;   
    width: 243px;
}

.section12{
    position: absolute;
    width: 362px;
    left: 432px;
    top: 176px;
}
.section12 img{
    margin-left: -50px;
}
.section12 h3{
    position: absolute;
    top: 190px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;    
}
.section12 p{
    position: absolute;
    top: 230.75px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;   
    width: 232px;
}


.section13{
    position: absolute;
    width: 243px;
    left: 730px;
    top: 176px;
}
.section13 img{
    margin-left: -50px;
}
.section13 h3{
    position: absolute;
    top: 130px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;    
}
.section13 p{
    position: absolute;
    top: 170.75px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;   
    width: 246px;
}


.section14{
    position: absolute;
    width: 240px;
    left: 1028px;
    top: 176px;
}
.section14 img{
    margin-left: -50px;
}
.section14 h3{
    position: absolute;
    top: 160px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;    
}
.section14 p{
    position: absolute;
    top: 200.75px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;   
    width: 250px;
}



.body7 {
    position: absolute;
    top: 2777px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: #6B6B6B;
}
.body7 img{
    position: absolute;
    top: 42px;
    left: 134px;
    cursor: pointer;
}
.body7 .section{
    position: absolute;
    top: 42px;
    left: 1001px;
}
.body7 .section a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;  
    margin-left: 30px;   
    cursor: pointer; 
}
.body7 .section a:hover{
    width: 70px;
    height: 50px;
    font-size: 20px;
    color: rgb(241, 145, 145);
    font-weight: 600;
    font-family: sans-serif;
}
.body7 .section a:active{
    color: rgb(235, 183, 193);
}



.body8{
    position: absolute;
    top: 2877px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: #111111;
}
.body8 div{
    position: absolute;
    left: 134px;
    top: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777777;    
}



/* Telphone */

@media (max-width: 447px) {
    .body{
        width: 447px;
        height: 50px;
    }
    .body img{
        position: absolute;
        left: 10px;
        top: 15px;
    }
     .body .section{
        position: absolute;
        left: 130px;
        top: 15px;
    }
    .body2{
        position: absolute;
        top: 50px;
        width: 447px;
    }
    .body2 h1{
        position: absolute;
        top: -20px;
        left: 2px;
        font-size: 30px;
        text-align: center;
    }
    .body2 p{
        position: absolute;
        top: 30px;
        left: 10px;
        width: 370px;
        font-size: 12px;
    }
    .body2 button{
        position: absolute;
        left: 10px;
        top: 130px;
        height: 30px;
        width: 337px;
        padding: 6px 0 4px;
    }
    .body2 img{
        position: absolute;
        left: 80px;
        top: 180px;
        height: 260px;
        width: 239px;
    }
    .body2 main p{
        position: absolute;
        left: 40px;
        top: 400px;
        font-size: 12px;
    }
    .body3{
        position: absolute;
        width: 447px;
        top: 550px;
        height: 90px;
    }
    .body3 a img{
        position: absolute;
        top: 24px;
        left: 6px;
        width: 20px;
        height: 24px;
    }
    .body3 header img{
        position: absolute;
        top: 26px;
        left: 31px;
        width: 72px;
        height: 27px;
    }
    .body3 section img{
        position: absolute;
        top: 26px;
        left: 109px;
        width: 17px;
        height: 24px;
    }
    .body3 nav img{
        position: absolute;
        top: 27px;
        left: 132px;
        width: 68.5px;
        height: 24px;
    }
    .body3 div img{
        position: absolute;
        top: 26px;
        left: 206px;
        width: 73px;
        height: 22.5;
    }
    .body3 aside img{
        position: absolute;
        top: 29px;
        left: 285px;
        width: 54px;
        height: 19.5px;
    }
    .body3 p img{
        position: absolute;
        top: 24px;
        left: 342px;
        width: 23px;
        height: 26px;
    }
    .body3 footer img{
        position: absolute;
        top: 50px;
        left: 160px;
        width: 66.5px;
        height: 35px;
    }
    .section5 h1{
        position: absolute;
        top: -90px;
        left: 140px;
        font-size: 22px;
    }
    .section5 p{
        position: absolute;
        left: 10px;
        top: -45px;
        width: 170px;
        font-size: 12px;
    }
    .section2 img{
        position: absolute;
        top: -50px;
        left: 150px;
        width: 260px;
        height: 300px;
    }
    .body4 .section2 p{
        position: absolute;
        top: 200px;
        left: 210px;
        width: 150px;
        text-align: center;
        font-size: 12px;
    }
    .section3 h1{
        position: absolute;
        top: 245px;
        left: 60px;
        font-size: 22px;
    }
    .section3 p{
        left: 10px;
        position: absolute;
        top: 280px;
        width: 370px;
        font-size: 12px;
    }
    .section4 img{
        position: absolute;
        top: 390px;
        left: 30px;
    }
    .section4 p{
        position: absolute;
        top: 590px;
        left: 60px;
        font-size: 12px;
    }


    .body5{
        height: 1120px;
        width: 447px;
    }
    .section6 h1{
        position: absolute;
        left: 150px;
        top: -10px;
        font-size: 22px;
    }
    .section6 p{
        position: absolute;
        left: 20px;
        top: 30px;
        width: 350px;
    }
    .section7 img{
        position: absolute;
        top: -120px;
        left: -130px;
    }
    .section7 p{
        position: absolute;
        top: 10px;
        left: -120px;
        font-size: 12px;
    }
    .section8{
        position: absolute;
        width: 230px;
        height: 250px;
        top: 280px;
        left: 80px;
    }
    .section8 h1{
        position: absolute;
        top: -15px;
        left: 90px;
    }
    .section8 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 75px;
    }
    .section8 p{
        position: absolute;
        top: 160px;
        font-size: 12px;
    }


    .section9{
        position: absolute;
        width: 230px;
        height: 250px;
        top: 560px;
        left: 80px;
    }
    .section9 h1{
        position: absolute;
        top: -15px;
        left: 90px;
    }
    .section9 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 75px;
    }
    .section9 p{
        position: absolute;
        top: 140px;
        width: 230px;
        font-size: 12px;
    }


    .section10{
        position: absolute;
        width: 230px;
        height: 250px;
        left: 80px;
        top: 840px;
    }
    .section10 h1{
        position: absolute;
        top: -15px;
        left: 90px;
    }
    .section10 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 75px;
    }
    .section10 p{
        position: absolute;
        top: 160px;
        font-size: 12px;
        width: 230px;
    }


    .body6{
        position: absolute;
        top: 2502px;
    }
    .body6 h1{
        position: absolute;
        top: -10px;
        left: 112px;
        font-size: 22px;
    }
    .section11 img{
        position: absolute;
        top: -140px;
        left: -7px;
        width: 229px;
        height: 163px;
    }
    .section11 h3{
        position: absolute;
        top: -30px;
        left: -23px;
        font-size: 16px;
    }
    .section11 p{
        position: absolute;
        top: -3px;
        left: -23px;
        font-size: 12px;
        height: 56px;
    }

    .section12 img{
        position: absolute;
        top: 100px;
        left: -305px;
        width: 229px;
        height: 163px;
    }
    .section12 h3{
        position: absolute;
        top: 210px;
        left: -322px;
        font-size: 16px;
    }
    .section12 p{
        position: absolute;
        top: 235px;
        left: -322px;
        font-size: 12px;
        height: 56px;
    }

    .section13 img{
        position: absolute;
        top: 330px;
        left: -605px;
        width: 229px;
        height: 163px;
    }
    .section13 h3{
        position: absolute;
        top: 425px;
        left: -622px;
        font-size: 16px;
    }
    .section13 p{
        position: absolute;
        top: 450px;
        left: -622px;
        font-size: 12px;
        height: 56px;
    }

    .section14 img{
        position: absolute;
        top: 575px;
        left: -905px;
        width: 229px;
        height: 163px;
    }
    .section14 h3{
        position: absolute;
        top: 680px;
        left: -922px;
        font-size: 16px;
    }
    .section14 p{
        position: absolute;
        top: 705px;
        left: -922px;
        font-size: 12px;
        height: 56px;
    }



    .body7{
        position: absolute;
        top: 3550px;
        height: 70px;
        width: 447px;
    }
    .body7 img{
        position: absolute;
        left: 10px;
        top: 25px;
    }
     .body7 .section{
        position: absolute;
        left: 130px;
        top: 25px;
    }


    .body8{
        position: absolute;
        top: 3620px;
        width: 447px;
    }
    .body8 div{
        position: absolute;
        left: 10px;
        text-align: center;
        top: 5px;
    }
}





/* laptop */

@media (min-width: 447px) and (max-width: 769px) {
    .body{
        width: 769px;
        height: 60px;
    }
    .body img{
        position: absolute;
        left: 30px;
        top: 15px;
    }
     .body .section{
        position: absolute;
        left: 450px;
        top: 15px;
    }
    .body2{
        position: absolute;
        top: 50px;
        width: 769px;
    }
    .body2 h1{
        position: absolute;
        top: -15px;
        left: 150px;
        font-size: 34px;
    }
    .body2 p{
        position: absolute;
        top: 40px;
        left: 180px;
        width: 370px;
        text-align: center;
    }
    .body2 button{
        position: absolute;
        left: 320px;
        top: 275px;
        height: 35px;
        padding: 5px;
    }
    .body2 img{
        position: absolute;
        left: 20px;
        top: 180px;
        height: 310px;
        width: 289px;
    }
    .body2 main p{
        position: absolute;
        left: 315px;
        top: 320px;
    }
    .body3{
        position: absolute;
        width: 769px;
        top: 550px;
        height: 100px;
    }
    .body3 a img{
        position: absolute;
        top: 24px;
        left: 20px;
    }
    .body3 header img{
        position: absolute;
        top: 33px;
        left: 71px;
    }
    .body3 section img{
        position: absolute;
        top: 27px;
        left: 173px;
    }
    .body3 nav img{
        position: absolute;
        top: 30px;
        left: 217px;
    }
    .body3 div img{
        position: absolute;
        top: 31px;
        left: 345px;
    }
    .body3 aside img{
        position: absolute;
        top: 33px;
        left: 490px;
    }
    .body3 p img{
        position: absolute;
        top: 24px;
        left: 588px;
    }
    .body3 footer img{
        position: absolute;
        top: 30px;
        left: 645px;
    }
    .section5 h1{
        position: absolute;
        top: -80px;
        left: 260px;
    }
    .section5 p{
        position: absolute;
        left: 220px;
        top: -30px;
        width: 330px;
        text-align: center;
    }
    .section2 img{
        position: absolute;
        top: 130px;
        left: -20px;
        width: 260px;
        height: 300px;
    }
    .body4 .section2 p{
        position: absolute;
        top: 370px;
        left: 35px;
        width: 150px;
        text-align: center;
    }
    .section3 h1{
        position: absolute;
        top: 145px;
        left: 270px;
    }
    .section3 p{
        left: 310px;
        position: absolute;
        top: 200px;
        width: 300px;
        text-align: center;
    }
    .section4 img{
        position: absolute;
        top: 390px;
        left: 230px;
    }
    .section4 p{
        position: absolute;
        top: 590px;
        left: 260px;
    }


    .body5{
        height: 900px;
        width: 769px;
    }
    .section6 h1{
        position: absolute;
        left: 310px;
        top: -5px;
    }
    .section6 p{
        position: absolute;
        left: 200px;
        top: 40px;
        width: 350px;
    }
    .section7 img{
        position: absolute;
        top: -110px;
        left: -100px;
    }
    .section7 p{
        position: absolute;
        top: 20px;
        left: -90px;
    }
    .section8{
        position: absolute;
        width: 230px;
        height: 250px;
        top: 300px;
        left: 100px;
    }
    .section8 h1{
        position: absolute;
        top: -15px;
        left: 90px;
    }
    .section8 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 75px;
    }
    .section8 p{
        position: absolute;
        top: 160px;
        font-size: 12px;
    }


    .section9{
        position: absolute;
        width: 230px;
        height: 250px;
        top: 300px;
        left: 430px;
    }
    .section9 h1{
        position: absolute;
        top: -15px;
        left: 90px;
    }
    .section9 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 75px;
    }
    .section9 p{
        position: absolute;
        top: 140px;
        width: 230px;
        font-size: 12px;
    }


    .section10{
        position: absolute;
        width: 230px;
        height: 250px;
        left: 265px;
        top: 600px;
    }
    .section10 h1{
        position: absolute;
        top: -15px;
        left: 90px;
    }
    .section10 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 75px;
    }
    .section10 p{
        position: absolute;
        top: 160px;
        font-size: 12px;
        width: 230px;
    }


    .body6{
        position: absolute;
        top: 2282px;
        height: 730px;
    }
    .body6 h1{
        position: absolute;
        top: -5px;
        left: 272px;
    }
    .section11 img{
        position: absolute;
        top: -140px;
        left: -50px;
    }
    .section11 h3{
        position: absolute;
        top: 50px;
        left: -50px;
    }
    .section11 p{
        position: absolute;
        top: 80px;
        left: -50px;
        height: 56px;
    }

    .section12 img{
        position: absolute;
        top: -140px;
        left: 5px;
    }
    .section12 h3{
        position: absolute;
        top: 35px;
        left: 5px;
    }
    .section12 p{
        position: absolute;
        top: 63px;
        left: 5px;
        height: 56px;
    }


    .section13 img{
        position: absolute;
        top: 200px;
        left: -647px;
    }
    .section13 h3{
        position: absolute;
        top: 310px;
        left: -647px;
    }
    .section13 p{
        position: absolute;
        top: 345px;
        left: -647px;
        height: 56px;
    }


    .section14 img{
        position: absolute;
        top: 180px;
        left: -592px;
    }
    .section14 h3{
        position: absolute;
        top: 325px;
        left: -592px;
    }
    .section14 p{
        position: absolute;
        top: 360px;
        left: -592px;
        height: 56px;
    }





    .body7{
        width: 769px;
        height: 60px;
        position: absolute;
        top: 3012px;
    }
    .body7 img{
        position: absolute;
        left: 30px;
        top: 20px;
    }
     .body7 .section{
        position: absolute;
        left: 450px;
        top: 20px;
    }


    .body8{
        position: absolute;
        top: 3072px;
        width: 769px;
    }
    .body8 div{
        position: absolute;
        left: 150px;
        top: 15px;
    }
}



/* kichik computer */

@media (min-width: 769px) and (max-width: 990px) {
    .body{
        width: 990px;
    }
    .body img{
        position: absolute;
        left: 70px;
        top: 15px;
    }
    .body .section{
        position: absolute;
        left: 700px;
        top: 15px;
    }
    .body2{
        position: absolute;
        top: 50px;
        width: 990px;
    }
    .body2 h1{
        position: absolute;
        top: 100px;
        left: 80px;
        font-size: 34px;
    }
    .body2 p{
        position: absolute;
        top: 150px;
        left: 80px;
        width: 370px;
    }
    .body2 button{
        position: absolute;
        left: 80px;
        top: 265px;
    }
    .body2 img{
        position: absolute;
        left: 600px;
    }
    .body2 main p{
        position: absolute;
        left: 610px;
    }
    .body3{
        position: absolute;
        width: 990px;
        top: 550px;
        height: 120px;
    }
    .body3 a img{
        position: absolute;
        top: 35px;
        left: 80px;
    }
    .body3 header img{
        position: absolute;
        top: 40px;
        left: 151px;
    }
    .body3 section img{
        position: absolute;
        top: 37px;
        left: 270px;
    }
    .body3 nav img{
        position: absolute;
        top: 40px;
        left: 327px;
    }
    .body3 div img{
        position: absolute;
        top: 41px;
        left: 467px;
    }
    .body3 aside img{
        position: absolute;
        top: 43px;
        left: 625px;
    }
    .body3 p img{
        position: absolute;
        top: 34px;
        left: 738px;
    }
    .body3 footer img{
        position: absolute;
        top: 40px;
        left: 805px;
    }

  
    .section5 h1{
        position: absolute;
        left: 80px;
    }
    .section5 p{
        position: absolute;
        left: 80px;
        width: 480px;
    }
    .section2 img{
        position: absolute;
        left: 620px;
    }
    .body4 .section2 p{
        position: absolute;
        left: 697px;
    }
    .section3 h1{
        position: absolute;
        top: 390px;
        left: 530px;
    }
    .section3 p{
        top: 440px;
        left: 530px;
        position: absolute;
        width: 420px;
    }
    .section4 img{
        position: absolute;
        left: 140px;
    }
    .section4 p{
        position: absolute;
        left: 165px;
    }



    .body5{
        height: 650px;
        width: 990px;
    }
    .section6 h1{
        position: absolute;
        left: 430px;
        top: 20px;
    }
    .section6 p{
        position: absolute;
        left: 315px;
        top: 70px;
        width: 350px;
    }
    .section7 img{
        position: absolute;
        top: -80px;
        left: -75px;
    }
    .section7 p{
        position: absolute;
        top: 50px;
        left: -65px;
    }

    .section8{
        position: absolute;
        width: 260px;
        height: 250px;
        top: 320px;
        left: 40px;
    }
    .section8 h1{
        position: absolute;
        top: -15px;
        left: 105px;
    }
    .section8 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 90px;
    }
    .section8 p{
        position: absolute;
        top: 160px;
        font-size: 12px;
    }


    .section9{
        position: absolute;
        width: 260px;
        height: 250px;
        top: 320px;
        left: 365px;
    }
    .section9 h1{
        position: absolute;
        top: -15px;
        left: 105px;
    }
    .section9 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 90px;
    }
    .section9 p{
        position: absolute;
        top: 140px;
        width: 230px;
        font-size: 12px;
    }


    .section10{
        position: absolute;
        width: 260px;
        height: 250px;
        left: 685px;
        top: 320px;
    }
    .section10 h1{
        position: absolute;
        top: -15px;
        left: 90px;
    }
    .section10 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 75px;
    }
    .section10 p{
        position: absolute;
        top: 160px;
        font-size: 12px;
        width: 230px;
    }


    .body6{
        position: absolute;
        top: 2032px;
        height: 800px;
    }
    .body6 h1{
        position: absolute;
        top: 10px;
        left: 372px;
    }
    .section11 img{
        position: absolute;
        top: -100px;
        left: 30px;
    }
    .section11 h3{
        position: absolute;
        top: 100px;
        left: 30px;
    }
    .section11 p{
        position: absolute;
        top: 130px;
        left: 30px;
    }

    .section12 img{
        position: absolute;
        top: -100px;
        left: 100px;
    }
    .section12 h3{
        position: absolute;
        top: 85px;
        left: 100px;
    }
    .section12 p{
        position: absolute;
        top: 115px;
        left: 100px;
    }


    .section13 img{
        position: absolute;
        top: 270px;
        left: -566px;
    }
    .section13 h3{
        position: absolute;
        top: 385px;
        left: -566px;
    }
    .section13 p{
        position: absolute;
        top: 415px;
        left: -566px;
    }


    .section14 img{
        position: absolute;
        top: 260px;
        left: -496px;
    }
    .section14 h3{
        position: absolute;
        top: 405px;
        left: -496px;
    }
    .section14 p{
        position: absolute;
        top: 435px;
        left: -496px;
    }





    .body7{
        width: 990px;
        height: 60px;
        position: absolute;
        top: 2832px;
    }
    .body7 img{
        position: absolute;
        left: 70px;
        top: 20px;
    }
    .body7 .section{
        position: absolute;
        left: 700px;
        top: 20px;
    }


    .body8{
        position: absolute;
        top: 2892px;
        width: 990px;
    }
    .body8 div{
        position: absolute;
        left: 250px;
        top: 15px;
    }
}





/* o'rtacha computer */

@media (min-width: 990px) and (max-width: 1236px) {
    .body{
        width: 1236px;
    }
    .body img{
        position: absolute;
        left: 100px;
        top: 15px;
    }
    .body .section{
        position: absolute;
        left: 900px;
        top: 15px;
    }
    .body2{
        position: absolute;
        top: 50px;
        width: 1236px;
    }
    .body2 h1{
        position: absolute;
        top: 150px;

    }
    .body2 p{
        position: absolute;
        top: 220px;
        width: 450px;
    }
    .body2 button{
        position: absolute;
        top: 315px;
    }
    .body2 img{
        position: absolute;
        left: 750px;
    }
    .body2 main p{
        position: absolute;
        left: 760px;
    }
    .body3{
        position: absolute;
        width: 1236px;
        top: 550px;
        height: 130px;
    }
    .body3 a img{
        position: absolute;
        top: 35px;
        left: 180px;
    }
    .body3 header img{
        position: absolute;
        top: 40px;
        left: 251px;
    }
    .body3 section img{
        position: absolute;
        top: 37px;
        left: 370px;
    }
    .body3 nav img{
        position: absolute;
        top: 40px;
        left: 427px;
    }
    .body3 div img{
        position: absolute;
        top: 41px;
        left: 567px;
    }
    .body3 aside img{
        position: absolute;
        top: 43px;
        left: 725px;
    }
    .body3 p img{
        position: absolute;
        top: 34px;
        left: 838px;
    }
    .body3 footer img{
        position: absolute;
        top: 40px;
        left: 905px;
    }

  
    .section5 h1{
        position: absolute;
        top: 100px;
    }
    .section5 p{
        position: absolute;
        width: 480px;
        top: 150px;
    }
    .section2 img{
        position: absolute;
        left: 750px;
        top: 30px;
    }
    .body4 .section2 p{
        position: absolute;
        left: 827px;
        top: 320px;
    }
    .section3 h1{
        position: absolute;
        top: 370px;
        left: 530px;
    }
    .section3 p{
        top: 420px;
        left: 530px;
        position: absolute;
        width: 420px;
    }
    .section4 img{
        position: absolute;
        left: 140px;
        top: 350px;
    }
    .section4 p{
        position: absolute;
        left: 165px;
        top: 549px;
    }



    .body5{
        height: 650px;
        width: 1236px;
    }
    .section6 h1{
        position: absolute;
        left: 530px;
        top: 20px;
    }
    .section6 p{
        position: absolute;
        left: 415px;
        top: 70px;
        width: 350px;
    }
    .section7 img{
        position: absolute;
        top: -80px;
        left: -55px;
    }
    .section7 p{
        position: absolute;
        top: 50px;
        left: -45px;
    }

    .section8{
        position: absolute;
        width: 300px;
        height: 250px;
        top: 320px;
        left: 80px;
    }
    .section8 h1{
        position: absolute;
        top: -15px;
        left: 105px;
    }
    .section8 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 90px;
    }
    .section8 p{
        position: absolute;
        top: 160px;
    }


    .section9{
        position: absolute;
        width: 300px;
        height: 250px;
        top: 320px;
        left: 445px;
    }
    .section9 h1{
        position: absolute;
        top: -15px;
        left: 105px;
    }
    .section9 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 90px;
    }
    .section9 p{
        position: absolute;
        top: 140px;
        width: 230px;
    }


    .section10{
        position: absolute;
        width: 300px;
        height: 250px;
        left: 805px;
        top: 320px;
    }
    .section10 h1{
        position: absolute;
        top: -15px;
        left: 90px;
    }
    .section10 img{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 60px;
        left: 75px;
    }
    .section10 p{
        position: absolute;
        top: 160px;
        width: 230px;
    }


    .body6{
        position: absolute;
        top: 2032px;
        height: 800px;
    }
    .body6 h1{
        position: absolute;
        top: 10px;
        left: 492px;
    }
    .section11 img{
        position: absolute;
        top: -100px;
        left: 130px;
    }
    .section11 h3{
        position: absolute;
        top: 100px;
        left: 130px;
    }
    .section11 p{
        position: absolute;
        top: 130px;
        left: 130px;
    }

    .section12 img{
        position: absolute;
        top: -100px;
        left: 250px;
    }
    .section12 h3{
        position: absolute;
        top: 85px;
        left: 250px;
    }
    .section12 p{
        position: absolute;
        top: 115px;
        left: 250px;
    }


    .section13 img{
        position: absolute;
        top: 270px;
        left: -466px;
    }
    .section13 h3{
        position: absolute;
        top: 385px;
        left: -466px;
    }
    .section13 p{
        position: absolute;
        top: 415px;
        left: -466px;
    }


    .section14 img{
        position: absolute;
        top: 260px;
        left: -346px;
    }
    .section14 h3{
        position: absolute;
        top: 405px;
        left: -346px;
    }
    .section14 p{
        position: absolute;
        top: 435px;
        left: -346px;
    }





    .body7{
        width: 1236px;
        height: 60px;
        position: absolute;
        top: 2832px;
    }
    .body7 img{
        position: absolute;
        left: 100px;
        top: 20px;
    }
    .body7 .section{
        position: absolute;
        left: 900px;
        top: 20px;
    }


    .body8{
        position: absolute;
        top: 2892px;
        width: 1236px;
    }
    .body8 div{
        position: absolute;
        left: 350px;
        top: 15px;
    }
}